@font-face {
    font-family: 'PedanticDevanagari';
    src: local('PedanticDevanagariLight'),
         url('../fonts/PedanticDevanagariLight.woff');
    unicode-range: U+0900-097F, U+A8E0-A8FB, U+1CD0-1CF6, U+2E24;
}

@font-face {
    font-family: 'PedanticDevanagari';
    src: local('PedanticDevanagariBold'),
         url('../fonts/PedanticDevanagariBold.woff');
    unicode-range: U+0900-097F, U+A8E0-A8FB, U+1CD0-1CF6, U+2E24;
    font-weight: bold;
}

/*
@font-face {
    font-family: 'PedanticMalayalam';
    src: url('fonts/PedanticMalayalam.woff');
    unicode-range: ~"U+0D00-0D7F, U+25CC";
}

@font-face {
    font-family: 'PedanticMalayalam';
    src: url('fonts/PedanticMalayalamBold.woff');
    unicode-range: ~"U+0D00-0D7F, U+25CC";
    font-weight: bold;
} */

@font-face {
    font-family: 'PedanticTelugu';
    src: url('../fonts/PedanticTelugu.woff');
    unicode-range: U+0C00-0C7F;
}

@font-face {
    font-family: 'PedanticTelugu';
    src: url('../fonts/PedanticTeluguBold.woff');
    unicode-range: U+0C00-0C7F;
    font-weight: bold;
}
/*
@font-face {
    font-family: 'Tantular Bali';
    src: url('fonts/TantularBali.ttf');
    unicode-range: ~"U+1B00-U+1B7F";
}
*/

@font-face {
    font-family: 'Noto Serif Tamil';
    src: url('../fonts/TSTTamil.woff');
    unicode-range: U+0B80-0BFF;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Tamil';
    src: url('../fonts/noto/NotoSerifTamilSlanted-Regular.ttf');
    unicode-range: U+0B80-0BFF;
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Noto Serif Tamil';
    src: url('../fonts/noto/NotoSerifTamilSlanted-Bold.ttf');
    unicode-range: U+0B80-0BFF;
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Noto Serif Tamil';
    src: url('../fonts/noto/NotoSerifTamil-Bold.ttf');
    unicode-range: U+0B80-0BFF;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif Tamil';
    src: url('../fonts/noto/NotoSansTamilSupplement-Regular.ttf');
    unicode-range: U+11FC0-11FFF;
}

@font-face {
    font-family: 'Noto Serif Grantha';
    src: url('../fonts/noto/NotoSerifGrantha-Regular.ttf');
    unicode-range: U+11300-1137F;
}
/*
@font-face {
    font-family: 'Noto Serif Bengali';
    src: url('noto/NotoSerifBengali-Regular.ttf');
    unicode-range: U+0980-09FF;
}

@font-face {
    font-family: 'Noto Serif Bengali';
    src: url('noto/NotoSerifBengali-Bold.ttf');
    unicode-range: U+0980-09FF;
    font-weight: bold;
    font-style: normal
}
*/

@font-face {
    font-family: 'Bangla';
    src: url('../fonts/Bangla-custom.woff');
    unicode-range: U+0980-09FF;
}

@font-face {
    font-family: 'Noto Sans Newa';
    src: url('../fonts/noto/NotoSansNewa-Regular-custom.otf');
    unicode-range: ~"U+114400-1147F";
}

@font-face {
    font-family: 'Satisar Sharada';
    src: url('../fonts/Sharada.ttf');
    unicode-range: ~"U+11180-111DF";
}

.aalt {
    font-feature-settings: "aalt" 1;
}

.alig {
    font-feature-settings: "alig" 1;
}

.cv00 {
    font-feature-settings: "cv00" 1;
}

.cv01 {
    font-feature-settings: "cv01" 1;
}

.trad {
    font-feature-settings: "trad" 1;
}
body {
    font-family: Brill, et-book, "Noto Serif Tamil", "Noto Serif Grantha", "Bangla", "PedanticDevanagari", "PedanticTelugu", "Noto Sans Newa", "Satisar Sharada", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    hyphens: auto;
}
