body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#index {
    position: relative;
    width: 100%;
    flex: 50%;
    margin: 0 auto;
}

#viewer {
    position: relative;
    flex: 50%;
    height: 100vh;
}

header {
    text-align: center;
}

h1.sub {
    font-size: 2rem;
}

ul.linklist li {
    list-style: none;
    cursor: pointer;
}

ul.linklist li:hover {
  color: #2B73B7;
  text-decoration: underline;
}

#overlay {
    background: rgba(142,158,184,0.3);
    border-radius: 20px;
}
