table, #index {
    font-size: 1.4rem;
    width: 85%;
}
#head {
    background-color: #eee;
    color: #666666;
    cursor: default;
    top: 0;
    position: sticky;
}
tbody th {
    text-align: left;
}
th.subpart {
    padding-left: 1rem;
}
th.subsubpart {
    padding-left: 1.5rem;
}
th, td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.smallcaps {
    font-variant: small-caps; 
    font-size: 0.8em;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    min-width: 1000px;
    background-color: #eee;
    color: #666666;
    flex-direction: row;
    font-size: 1.5rem;
}

#menu a[href] {
    color: #666666;
}
#menu > div {
    margin-right: 5rem;
    padding: 0 1.5rem 0 1.5rem;
}

#menu .main a[href] {
    color: black;
}

#menu .selected {
    background-color: rgb(255,255,248);
}

#menu a {
    background-image: none;
    text-shadow: none;
}

#menu > div:hover {
    background-color: rgb(255,255,248);
}
a[href] {
    color: rgb(17,17,17);
}
a[href]::after {
    background: none;
    padding-right: 0;
}
a[href]:hover::after {
    background: none;
    padding-right: 0;
}

#tooltip {
    display: block;
    position: fixed;
    background: rgba(17,17,17,0.8);
    border-radius: 4px;
    color: #fff;
    font-style: normal;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: normal;
    vertical-align: middle;
    padding: 0.5em 1em;
    margin-bottom: 11px;
    max-width: 200px;
    z-index: 3;
}

#tooltip hr {
    border: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));
}
.dropper {
    position: relative;
    display: inline-block;
}
.dropped {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #eee;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    width: max-content;
}
.dropped a {
    width: 100%;
    display: block;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.dropped a:hover {
    background-color: rgb(255,255,248);
}

.dropper:hover .dropped {
    display: block;
}
